<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Imunizacija21</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" id="epicGamer"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Imunizacija21</a> -->
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logo" title="logo" height="54px" width="250px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index">Prijavite se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="LogOut">Odjavi se</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Vakcinacija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trenutno stanje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FAQ">FAQ</a>
                        </li>
                            -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CovidKarton" asp-action="Index">Moj Covid karton</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProfileChange" asp-action="Index">Izmjena profila</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PrijavaZaTestiranje" asp-action="Index">Prijava za testiranje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PrijavaZaVakcinaciju" asp-action="Index">Prijava za vakcinaciju</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <link rel="stylesheet" href="~/css/FooterStyle.css" />
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">Imunizacija'21</h2>
                <a>Imunizacija'21 je projekat napravljen u sklopu predmeta OOAD</a><br />
                <a>u ljetnom semestru 2020/2021. Aplikaciju je napravio tim Schpritzer.</a>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">About</h2>
                <ul>
                    <li><a>FAQ</a></li>
                    <li><a href="https://github.com/ooad-2020-2021/Grupa1-Schpritzer%22%3ESchpritzer</a></li>
                    <li><a>O nama</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Članovi tima</h2>
                <ul>
                    <li><a href="https://github.com/mborovac1%22%3EMuhamed Borovac</a></li>
                    <li><a href="https://github.com/ecivgin1%22%3EEldar Čivgin</a></li>
                    <li><a href="https://github.com/dnuhic%22%3EDženan Nuhić</a></li>
                    <li><a href="https://github.com/bpasic1%22%3EBenjamin Pašić</a></li>
                </ul>
            </div>
        </section>
        <section class="ft-copyright">
            <a>&copy; 2021 - Imunizacija'21 - made by Schpritzer, All rights reserved</a>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
