@*@model IEnumerable<Imunizacija21.Models.Osoba>*@



@{
    ViewData["Title"] = "FAQ";
}

<h1>Najvažnija pitanja i odgovori za vakcinaciju protiv Covid-a</h1>
<hr />
<h4>1.Da li su i koje vakcine sigurne za osobe iznad 65 godina?</h4>
<p>Sve vakcine koje se koriste u našoj regiji su odobrene za upotrebu i kod osoba starijih od 65 godina. Dosadašnje iskustvo u primjeni Pfizer vakcine u Kantonu Sarajevo govori da starije osobe dobro podnose ovu vakcinu (reakcije na vakcinu kod starijih osoba su rjeđe nego kod mlađih).</p>
<hr />
<h4>2.Koja vakcina se preporučuje onima koji su preboljeli COVID-19?</h4>
<p>Osobe koje su preboljele COVID-19 mogu da prime bilo koju vakcinu protiv COVID-19.</p>
<hr />
<h4>3.Koje su očekivane reakcije na vakcinu?</h4>
<p>
    To su reakcije koje nam u stvari govore da naš imuni sistem reaguje na vakcinu i stvara zaštitu od bolesti. Najčešće reakcije iz ove grupe su bol na mjestu uboda, povišena temperatura, groznica, bolovi u mišićima i/ili zglobovima, glavobolja, slabost ili malaksalost... Ovi simptomi najčešće traju jedan do tri dana i prolaze bez posljedica.
    U dosadašnjoj primjeni Sputnik V vakcine je primjećeno da se ove reakcije češće javljaju kod mlađih osoba, kao i kod onih koji su već bolovali od COVID-19 (i jedni i drugi imaju bržu i intenzivniju reakciju imunog sistema).
</p>
<hr />
<h4>4.Koja je razlika između vakcina Sinopharm, Sputnik V, AstraZeneca i Pfizer?</h4>
<p>
    Razlika između ovih vakcina je u tehnologiji proizvodnje, načinu djelovanja odnosno mehanizmu kojim potiču naš imuni odgovor, pa time i u načinu čuvanja, broju potrebnih doza, efikasnosti, jačini imunog odgovora, brzini njegovog razvoja i slično.
    <br>
    Vakcina Sinopharm (Kina) spada u inaktivne vakcine. Ove vakcine se prozvode na bazi inaktivisanog virusa, i ta tehnologija se već dugo koristi. Nakon vakcinacije, inaktivisani virus prepoznaju imunske ćelije u organizmu, što izaziva imunski odgovor. Kod ove vakcine je uočeno da se imuni odgovor razvija nešto sporije nego nakon Sputnik V ili Comirnaty vakcina (treba da prođe nekoliko nedjelja od druge doze vakcine).
    <br>
    Vakcina Sputnik V, prema rezultatima ispitivanja, ima visoku efikasnost (efikasnost prikazana u preliminarnim rezultatima treće faze kliničkog istraživanja objavljenim u časopisu Lancet, je vrlo visoka, oko 92%). Tehnologija proizvodnje ove vakcine spada u inovativne tehnologije. Vakcina koristi drugu vrstu virusa (u ovom slučaju adenovirus) kao vektor koji će nakon vakcinacije do naših ćelija prenijeti gen koji uzrokuje stvaranje proteina u našim ćelijama, jednakog kao protein na koronavirusu SARS-CoV-2, a taj protein onda stimuliše imunski odgovor kod vakcinisane osobe. Do sada se ova tehnologija koristila u proizvodnji vakcina protiv ebole, a primjeri među vakcinama protiv COVID-a su vakcine proizvođača Gamaleja iz Rusije (Sputnik V), AstraZeneca/Oxford i Johnson&Johnson.
    Proizvodi je Nacionalni centar za mikrobiologiju i epidemiologiju iz Rusije, za prvu i drugu dozu koristi različite tipove adenovirusa (Ad26 i Ad5), čime je izbjegnuta mogućnost da se nakon prve doze razvije imunitet na adenovirus koji bi smanjio efekat druge doze. U praksi to znači da su prva i druga doza ove vakcine različite.
    <br>
    Vakcina proizvođača Pfizer/BioNTech (Comirnaty) je zasnovana na informacionoj RNK, koja se nalazi u omotaču od lipidnih čestica, a koja u našim ćelijama takođe podstiče proizvodnju proteina istog kao šiljak protein na korona virusu, što izaziva snažan imuni odgovor. Ova vakcina ima najveću efikasnost, kako je prikazano u studijama (oko 95%). Bila je prva vakcina protiv COVID-19 koja je ušla u upotrebu I u svijetu je dat najveći broj doza ove vakcine (u odnosu na druge COVID-19 vakcine). Imuni odgovor nakon ove vakcine se razvija vrlo brzo, a istraživanja pokazuju da je on više puta jači nego imuni odgovor nakon prebolijevanja COVID-19.
</p>
<hr />
<h4>5.Koja vakcina (Sinopharm, Sputnik V, AstraZeneca, Pfizer) ima najviše prijavljenih neželjenih dejstava?</h4>
<p>Ovaj podatak je različit u različitim državama. Bitno je da većina reakcija nakon vakcinacije spada u očekivane reakcije i da su teže neželjene reakcije izuzetno rijetke.</p>

<hr />
<h4>6.Mogu li vakcinisani prenositi virus?</h4>
<p>Do sada je istražen efekat vakcine na smanjenje mogućnosti obolijevanja, ali nije u potpunosti istražen efekat na prenošenje virusa (iako su pojedini proizvođači već objavili rezultate studija koje govore da njihove vakcine značajno smanjuju i mogućnost prenošenja virusa). Zbog toga ne možemo biti sigurni da osobe koje su vakcinisane i time zaštićene od obolijevanja, ukoliko dođu u kontakt sa zaraženom osobom, ne mogu da prenose virus na svojoj sluznici na druge osobe. Epidemiološke mjere prevencije poput nošenja maski i održavanja fizičke distance će biti neophodne još neko vrijeme, sve dok se vakcinacijom toliko ne poveća broj imunih osoba da dođe do značajnog smanjenja prenosa virusa u populaciji.</p>

<hr />
<h4>7.Je li sigurno za moje dijete da dobije cjepivo prvotiv Covid-19?</h4>
<p>Da. Studije pokazuju da su cjepiva protiv COVID-19 sigurna i učinkovita. Kao i odrasli, i djeca mogu imati neke nuspojave nakon cijepljenja protiv COVID-19. Te nuspojave mogu utjecati na njihovu sposobnost obavljanja svakodnevnih aktivnosti, no trebale bi nestati za nekoliko dana.</p>

<hr />
<h4>8.Koliko vremena nakon revakcinacije treba da prođe da bismo bili sigurni da je vakcina djelovala i da smo bezbjedni?</h4>
<p>Nakon vakcinacije je potrebno da prođe izvjestan period da se razvije imunitet. Ovaj period je različit za različite vrste vakcina, nakon nekih se imuni odgovor razvija brže, a nakon drugih nešto sporije. Za Sputnik V je potrebno da prođe 15 dana nakon druge doze vakcine da bismo smatrali da je vakcina ispoljila svoj efekat, dok je za vakcinu proizvođača Pfizer ovaj period 7 dana od druge doze.</p>

<hr />
<h4>9.Ukoliko sam već imao Covid-19 i oporavio se, da li je i dalje potrebno da se vakcinišem?</h4>
<p>Da, trebali biste se cijepiti bez obzira da li ste već imali COVID-19. To je zato što stručnjaci još ne znaju koliko dugo ste zaštićeni od ponovne bolesti nakon oporavka od COVID-19. Čak i ako ste se već oporavili od COVID-19, moguće je, iako rijetko, da ponovo budete zaraženi virusom koji uzrokuje COVID-19.</p>
