@model Tuple<Imunizacija21.Models.ZahtjevZaTestiranje, Imunizacija21.Models.Korisnik>
@*@model Imunizacija21.Models.ZahtjevZaTestiranje*@
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ZahtjevZaTestiranje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Opis" class="control-label"></label>
                    <input asp-for="Opis" class="form-control" />
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipCovidTesta" class="control-label"></label>
                    <select asp-for="TipCovidTesta" asp-items="Html.GetEnumSelectList<TipCovidTesta>()"  class="form-control"></select>
                    <span asp-validation-for="TipCovidTesta" class="text-danger"></span>
                </div>*@
            <input type="hidden" asp-for="Item1.ID" />
            <div class="form-group">
                <label asp-for="Item1.DatumZahtjeva" class="control-label"></label>
                <input asp-for=" Item1.DatumZahtjeva" class="form-control" />
                <span asp-validation-for="Item1.DatumZahtjeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Item1.OdobrenZahtjev" class="control-label"></label>
                <input asp-for=" Item1.OdobrenZahtjev" class="form-control" />
                <span asp-validation-for=" Item1.OdobrenZahtjev" class="text-danger"></span>
            </div>
            @*<label><input asp-for=" OdobrenZahtjev" value ="true" type="checkbox">Odobri</label>*@


            @*<div class="form-group">
                    <label asp-for="StrucnaOsobaID" class="control-label"></label>
                    <input asp-for="StrucnaOsobaID" class="form-control" />
                    <span asp-validation-for="StrucnaOsobaID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
