h1 {
    padding: 0px;
    margin: 0px 0px;
}

label {
    margin-top: 10px;
    display: inline-block
}

.flex {
    display: flex;
}

.kolona-1 {
    flex: 1;
    margin-right: 20px;
/*    background-color: blue;*/
}

.kolona-2 { /**/
    /*  background-color: red;*/

    margin-right: 10px;
    flex: 1;
}

.element-info {
}

.rectangle {
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 10px;
    
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #ccc;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .collapsible:focus {
        outline: none;
        
    }

.content {
    /*prvi gore dole drugi desno lijevo*/
    background-color: white;
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
}

.popunjeno {
    border-radius: 3px;
    padding: 5px;
    border: 2px solid black;
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

.inside-content {
    margin-left: 10px;
}

.rectangle-povijest {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
}

.sekcije {
    margin: 0px 10px;
    padding-top: 10px;
}

.zaSirinu {
    display: flex;
    width: 100%;
    align-items: center;
}

.checkDugme{
    margin-left: 1.8em;
}

.spolDiv {
    margin-top: 0.6em;
}

.alergijaMargin {
    margin-right: 10px;
}

.dijagnozaParagraf {
    border-radius: 3px;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: black;
    float: right;
    margin-left: 5px;
    border: none;
    align-content: center;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.print-btn {
    margin: 10px;
    padding: 5px 50px;
    margin-top: 0px;
    float: right;
    background-color: mediumseagreen;
    color: white;
}