@model Imunizacija21.Models.Korisnik

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Korisnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZdravstvenaKartica" class="control-label"></label>
                <input asp-for="ZdravstvenaKartica" class="form-control" />
                <span asp-validation-for="ZdravstvenaKartica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CovidKartonID" class="control-label"></label>
                <input asp-for="CovidKartonID" class="form-control" />
                <span asp-validation-for="CovidKartonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zanimanje" class="control-label"></label>
                <select asp-for="Zanimanje" class="form-control"></select>
                <span asp-validation-for="Zanimanje" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spol" class="control-label"></label>
                <input asp-for="Spol" class="form-control" />
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JMBG" class="control-label"></label>
                <input asp-for="JMBG" class="form-control" />
                <span asp-validation-for="JMBG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojTelefona" class="control-label"></label>
                <input asp-for="BrojTelefona" class="form-control" />
                <span asp-validation-for="BrojTelefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokalnaZdravstvenaUstanova" class="control-label"></label>
                <select asp-for="LokalnaZdravstvenaUstanova" class="form-control"></select>
                <span asp-validation-for="LokalnaZdravstvenaUstanova" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ulogovan" /> @Html.DisplayNameFor(model => model.Ulogovan)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
